<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<title>選手登録・更新</title>
</head>

<body>
	<h1>選手管理アプリ</h1>
	<h3 th:text="${title}">タイトル</h3>
	<!--/* 登録・更新完了コメント */-->
	<p th:if="${complete}" th:text="${complete}" style="color:blue"></p>
	<!--/* ▼▼▼ Form ▼▼▼ */-->
	<form method="POST"
		th:action="${playersForm.newPlayer}? @{/insertUpdatePlayer/insert} : @{/insertUpdatePlayer/update}"
		th:object="${playersForm}">
		姓:<br>
		<input type="text" th:field="*{sei}"><br>
		名:<br>
		<input type="text" th:field="*{mei}"><br>
		ニックネームを登録しますか:<br>
		はい<input type="radio" value="1" th:field="*{nickname_flg}"><br>
		いいえ<input type="radio" value="0" th:field="*{nickname_flg}"><br>
		ニックネーム:<br>
		<input type="text" th:field="*{nickname}"><br>
		背ネーム(姓):<br>
		<input type="text" th:field="*{sei_sename}"><br>
		背ネーム(名):<br>
		<input type="text" th:field="*{mei_sename}"><br>
		背ネーム(ニックネーム)※ニックネームを登録しますかにはいを選択した場合のみ入力してください。:<br>
		<input type="text" th:field="*{nickname_sename}"><br>
		ポジション:<br>
		ピッチャー<input type="radio" th:field="*{position}" value="1"><br>
		キャッチャー<input type="radio" th:field="*{position}" value="2"><br>
		内野手<input type="radio" th:field="*{position}" value="3"><br>
		外野手<input type="radio" th:field="*{position}" value="4"><br>
		背番号:<br>
		<input type="text" th:field="*{sebango}"><br>
		<input type="submit" value="登録">
	</form>
		<a href="#" th:href="@{/playersIchiran}">選手一覧画面に戻る</a>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>
</body>

</html>